
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#F5F5F5;
  font-family: NotoSansKR-Regular;
  color:black;
}

@font-face {
  font-family: "Kaushan Script";
  src: url(../src/assets/fonts/KaushanScript-Regular.ttf);
}

@font-face {
  font-family: "NotoSerifKR-Regular";
  src: url(../src/assets/fonts/NotoSerifKR-Regular.otf);
}

@font-face {
  font-family: "NotoSansKR-Regular";
  src: url(../src/assets/fonts/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: "NotoSansKR-Thin";
  src: url(../src/assets/fonts/NotoSansKR-Thin.otf);
}

:root {
	--font-googleGugi: "Kaushan Script";
  --font-NotoSerifKR: "NotoSerifKR-Regular";
  --font-NotoSansKR-Regular:"NotoSansKR-Regular";
  --font-NotoSansKR-Thin:"NotoSansKR-Thin";
}
